.landingPage {
  background-color: #FFF7ED;
}

.bgCream {
  background-color: #FFF7ED;
}

.line {
  background-color: rgb(91, 89, 89);
  height: 1px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
